/* .container-btn {
  display: flex;
  height: 20vh;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 250px;
} */

body{
  background-color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

button {
  width: 200px;
  height: 80px;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
  background-color: #E5B6D5;
  color: white;
  border-left: 10px solid #CC7FB5;
  border-right: 10px solid #CC7FB5;
  border-top: 10px solid #B2479A;
  border-bottom: 10px solid #B2479A;
  margin: 20px;
}

button:hover {
  background-color: #B2479A;
  border-left: 10px solid #E5B6D5;
  border-right: 10px solid #E5B6D5;
  border-top: 10px solid #CC7FB5;
  border-bottom: 10px solid #CC7FB5;
}

@media screen and (max-width: 550px) {
  .random-btn, .container-btn {
    
    height: 120px;
    margin-top: 115px;
  }
}

@media screen and (max-width: 550px) {
  .reset-btn {
    height: 65px;
  }
}
