body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

button {
  width: 200px;
  height: 80px;
  font-size: 30px;
  background-color: #E5B6D5;
  color: white;
  border-left: 10px solid #CC7FB5;
  border-right: 10px solid #CC7FB5;
  border-top: 10px solid #B2479A;
  border-bottom: 10px solid #B2479A;
  margin: 20px;
}

button:hover {
  background-color: #B2479A;
  border-left: 10px solid #E5B6D5;
  border-right: 10px solid #E5B6D5;
  border-top: 10px solid #CC7FB5;
  border-bottom: 10px solid #CC7FB5;
}

@media screen and (max-width: 600px) {
  body {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  .random-btn {
    height: 160px;
  }
}

@media screen and (max-width: 600px) {
  button {
    font-size: 45px;
    width: 300px;
  }
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {
  body {
   flex-direction: column;
 }

 .random-btn {
   font-size: 30px;
   height: 90px;

 }

 .reset-btn {
   font-size: 30px;
   height: 60px;
 }

 button {
   width: 200px;
   border-left: 10px solid #CC7FB5;
   border-right: 10px solid #CC7FB5;
   border-top: 10px solid #B2479A;
   border-bottom: 10px solid #B2479A;
 }
}
